<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Testes de Integração Continua</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">Pipeline de Produção Devops</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/sempreonline4.png" alt="4Linux">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Continue estudando sobre DevOps!</p>
			
			<div class="devops-path path">
				<h1>DevOps</h1>
				<a href="https://dzone.com/devops-tutorials-tools-news" class="devops-course course">
					<h2>1 - DZone</h2>
				</a><!--
				--><a href="http://blog.rivendel.com.br/2017/11/27/explorando-devops-com-foco-em-cicd/" class="devops-course course">
					<h2>2 - CI/CD</h2>
				</a><!--
				--><a href="http://www.tiexames.com.br/novosite2015/curso_aovivo_DEVOPS_PROFESSIONAL.php" class="ops-course course">
					<h2>3 - TI Exames</h2>
				</a><!--
				--><a href="https://www.schoolofnet.com/curso-git-e-github/" class="ops-course course">
					<h2>4 - Curso gratis de Git e Github</h2>
				</a><!--
				--><a href="https://www.4linux.com.br/curso/devsecops" class="ops-course course">
					<h2>5 - DevSecOps: Segurança em infraestrutura e desenvolvimento ágil</h2>
				</a><!--
				--><a href="https://www.datascienceacademy.com.br/path-player?courseid=python-fundamentos&unit=56fa01d947d7ddf1938b456cUnit" class="dev-course course">
					<h2>6 - Curso gratis de Python</h2>
				</a>
			</div>
			
			<div class="ex-path path">
				<h1>Especialização</h1>
				<a href="https://www.4linux.com.br/curso/docker" class="ex-course course">
					<h2>Docker e Openshift: Orquestrando ambiente DevOps escaláveis</h2>
				</a><!--
				--><a href="https://www.4linux.com.br/curso/ferramentas-de-automacao-devops-com-ansible-chef-e-puppet" class="ex-course course">
					<h2>Ferramentas de automação DevOps com Ansible, Chef e Puppet</h2>
				</a><!--
				--><a href="https://www.4linux.com.br/curso/openstack" class="ex-course course">
					<h2>Infraestrutura de nuvens com OpenStack</h2>
				</a><!--
				--><a href="https://www.4linux.com.br/curso/controle-de-versoes-com-git" class="ex-course course">
					<h2>Controle de versões com Git</h2>
				</a>
			</div>
			
		</div>
	</div>

</body>

</html>
